* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    background: grey;
    color: white;
    font-size: 40px;
    padding: 10px;
    text-align: center;
}

.box-one {
    position: relative;
    text-align: center;
    color: black;
}

.box-two {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background: lightblue;
    color: white;
}

button {
    border-radius: 10%;
    width: 150px;
    height: 50px;
    color: white;
    background-color: red;
    
}