* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Courier, monospace;
}

h1 {
    background: aqua;
    font-size: 40px;
    padding: 10px;
}

.box-one {
    background: black;
    color: white;
}

button {
    border-radius: 10%;
    width: 150px;
    height: 50px;
    color: white;
    background-color: red;
    
}